.canvas {
  position: relative;

  width: 500px;
  height: 380px;
  margin: 80px 0 0 0;

  transition: 0.3s ease;

  perspective: 800px;
}

/* sky -------------------------------------------------- */
.box_front {
  position: relative;

  overflow: hidden;

  width: 500px;
  height: 380px;

  background: skyblue;
  box-shadow: 0 -400px 300px -300px steelblue inset;
  animation-name: sky;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes sky {
  0% {
    background: darkslateblue;
    box-shadow: 0 -400px 300px -300px orangered inset;
  }
  33% {
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
  }

  66% {
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
  }
  100% {
    background: darkslateblue;
    box-shadow: 0 -400px 300px -300px orangered inset;
  }

  
}
/* end -------------------------------------------------- */

/* ship -------------------------------------------------- */
.ship::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100px;
  height: 20px;

  content: "";

  border-radius: 0 0 0 20px;
  background: #e25c45;
}

.ship::before {
  position: absolute;
  top: 0;
  left: 10px;

  width: 65px;
  height: 16px;

  content: "";

  border-radius: 20px 0 0 0;
  background: #fff;
}

.ship {
  position: absolute;
  right: 0px;
  bottom: 30px;

  width: 100px;
  height: 36px;

  animation-name: ship_move;
  animation-duration: 50s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes ship_move {
  0% {
    transform: translateX(-700px);
    opacity: 1;
  }
  100% {
    transform: translateX(70px);
    opacity: 1;
  }
}

.ship_smokestack {
  position: absolute;
  bottom: 36px;
  left: 45px;

  width: 10px;
  height: 17px;

  background: #a18e6e;
}

.ship_window {
  position: absolute;
  top: 6px;
  left: 40px;

  width: 7px;
  height: 7px;

  border-radius: 50%;
  background: #a18e6e;
  box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
  position: absolute;

  width: 7px;
  height: 7px;

  border-radius: 50%;
  background: #fff;
}

.smoke-1 {
  top: -25px;
  right: 44px;

  animation-name: smoke1_move;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes smoke1_move {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

.smoke-2 {
  top: -25px;
  right: 42px;

  animation-name: smoke2_move;
  animation-duration: 5s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes smoke2_move {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-12px);
    opacity: 0;
  }
}

.smoke-3 {
  top: -25px;
  right: 49px;

  animation-name: smoke3_move;
  animation-duration: 3s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes smoke3_move {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-12px) scale(0.8);
    opacity: 0;
  }
}
/* end -------------------------------------------------- */

/* sun -------------------------------------------------- */
.sun {
  position: absolute;
  top: 30px;
  right: 50%;

  width: 80px;
  height: 80px;

  border-radius: 50%;
  background: #ffcf11;
  box-shadow: 0 0 100px #ffdf05;
}

.sun-wrapper {
  position: absolute;

  width: 100%;
  height: 100%;

  
  animation-name: sun_move;
  animation-duration: 27s;
  animation-timing-function: cubic-bezier(0,.24,.72,.55);
  animation-direction: normal;
  animation-iteration-count: infinite;
  opacity: 1;
}
@keyframes sun_move {
  0% {
    transform: translate(130px, 10%) rotate(0turn) translate(130px, 150%);
    opacity: 1;
  }
  100% {
    transform: translate(100px, 80%) rotate(1turn) translate(150px, 70%);
    opacity: 1;
  }
}

.sun div {
  position: absolute;
  top: -20px;
  left: 50%;

  width: 2px;
  height: 100px;
  margin-left: -1px;

  border: solid #ffcf11;
  border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
  transform: rotate(18deg);
}

.sun div:nth-child(3) {
  transform: rotate(36deg);
}

.sun div:nth-child(4) {
  transform: rotate(54deg);
}

.sun div:nth-child(5) {
  transform: rotate(72deg);
}

.sun div:nth-child(6) {
  transform: rotate(90deg);
}

.sun div:nth-child(7) {
  transform: rotate(-18deg);
}

.sun div:nth-child(8) {
  transform: rotate(-36deg);
}

.sun div:nth-child(9) {
  transform: rotate(-54deg);
}

.sun div:nth-child(10) {
  transform: rotate(-72deg);
}

/* end */

/* clouds */
.cloud {
  position: absolute;
  left: -180px;

  width: 200px;
  height: 60px;

  opacity: 0.8;
  border-radius: 200px;
  background: #fff;
  opacity: 0;
}

.cloud:before,
.cloud:after {
  position: absolute;
  top: -15px;
  left: 10px;

  width: 100px;
  height: 80px;

  content: "";

  border-radius: 100px;
  background: #fff;
}

.cloud:after {
  top: -55px;
  right: 15px;
  left: auto;

  width: 120px;
  height: 120px;
}

.cloud-1 {
  top: 10px;
  animation-name: cloud1_move;
  animation-duration: 40s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: 20;
}
@keyframes cloud1_move {
  0% {
    transform: translateX(0) scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: translateX(700px) scale(0.5);
    opacity: 0.7;
  }
}

.cloud-2 {
  top: 50px;
  animation-name: cloud2_move;
  animation-duration: 25s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: 6;
  animation-delay: 10s;
}
@keyframes cloud2_move {
  0% {
    transform: translateX(0) scale(0.7, 0.6) rotateY(180deg);
    opacity: 0.7;
  }
  100% {
    transform: translateX(700px) scale(0.7, 0.6) rotateY(180deg);
    opacity: 0.7;
  }
}

.cloud-3 {
  top: 100px;
  animation-name: cloud3_move;
  animation-duration: 16s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
@keyframes cloud3_move {
  0% {
    transform: translateX(0) scale(0.8, 0.9);
    opacity: 0.7;
  }
  100% {
    transform: translateX(700px) scale(0.8, 0.9);
    opacity: 0.7;
  }
}

.cloud-4 {
  top: 170px;
  animation-name: cloud4_move;
  animation-duration: 12s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}
@keyframes cloud4_move {
  0% {
    transform: translateX(-60px) scale(2, 1) rotateY(180deg);
    opacity: 0.7;
  }
  100% {
    transform: translateX(790px) scale(2, 1) rotateY(180deg);
    opacity: 0.7;
  }
}
/* end -------------------------------------------------- */

.sea {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 40px;

  opacity: 0.8;
  background: #2a94d6;
}

.sea::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 10px;

  content: "";

  background: #1d7fbb;
}
